openapi: 3.0.1
info:
  title: "習慣養成與心情日誌 App API (Habit & Mood Tracker API)"
  description: |-
    這是一份為「習慣養成與心情日誌」Web App 設計的 RESTful API 規格書。
    此專案旨在透過簡單的紀錄與覺察，賦予使用者建立正向循環、打造理想生活的能力。[cite: 3]
    此 API 提供前端應用程式所需的所有核心功能，包括使用者認證、習慣管理與心情紀錄。
  version: "1.0.0"

servers:
  - url: "https://api.habittracker.com/v1"
    description: "正式環境伺服器"
  - url: "http://localhost:5000/v1"
    description: "本地開發伺服器"

tags:
  - name: "Habits"
    description: "與使用者習慣相關的操作"

paths:
  /habits:
    get:
      tags:
        - "Habits"
      summary: "取得所有習慣列表"
      description: "取得當前已登入使用者的所有習慣列表。"
      operationId: "listHabits"
      responses:
        "200":
          description: "成功取得習慣列表"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Habit"
              example:
                - habit_id: 1
                  name: "每日閱讀 20 分鐘"
                  description: "閱讀任何有興趣的書籍或文章"
                  frequency_type: "daily"
                  frequency_value: null
                  created_at: "2025-08-19T10:00:00Z"
                - habit_id: 2
                  name: "每週運動三次"
                  description: "週一、週三、週五去健身房"
                  frequency_type: "weekly"
                  frequency_value: "1,3,5"
                  created_at: "2025-08-18T11:30:00Z"
    post:
      tags:
        - "Habits"
      summary: "建立一個新習慣"
      description: "為當前已登入的使用者建立一個新的習慣項目。"
      operationId: "createHabit"
      requestBody:
        description: "新習慣的詳細資料"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewHabit"
            example:
              name: "學習 Python 一小時"
              description: "完成一個線上課程單元"
              frequency_type: "daily"
      responses:
        "201":
          description: "習慣建立成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Habit"
              example:
                habit_id: 3
                name: "學習 Python 一小時"
                description: "完成一個線上課程單元"
                frequency_type: "daily"
                frequency_value: null
                created_at: "2025-08-19T11:15:00Z"

  /habits/{habitId}:
    get:
      tags:
        - "Habits"
      summary: "取得特定習慣的詳細資訊"
      description: "根據提供的 habitId，取得單一習慣的詳細內容。"
      operationId: "getHabitById"
      parameters:
        - name: "habitId"
          in: "path"
          required: true
          description: "要查詢的習慣 ID"
          schema:
            type: "integer"
            format: "int64"
      responses:
        "200":
          description: "成功取得習慣資訊"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Habit"
              example:
                habit_id: 1
                name: "每日閱讀 20 分鐘"
                description: "閱讀任何有興趣的書籍或文章"
                frequency_type: "daily"
                frequency_value: null
                created_at: "2025-08-19T10:00:00Z"
        "404":
          description: "找不到指定的習慣"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: 404
                message: "Habit not found"

    put:
      tags:
        - "Habits"
      summary: "更新一個已存在的習慣"
      description: "根據提供的 habitId，更新一個已存在習慣的內容。"
      operationId: "updateHabit"
      parameters:
        - name: "habitId"
          in: "path"
          required: true
          description: "要更新的習慣 ID"
          schema:
            type: "integer"
            format: "int64"
      requestBody:
        description: "要更新的習慣資料"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewHabit"
            example:
              name: "每日深度閱讀 30 分鐘"
              description: "專注閱讀，並做筆記"
              frequency_type: "daily"
      responses:
        "200":
          description: "習慣更新成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Habit"
              example:
                habit_id: 1
                name: "每日深度閱讀 30 分鐘"
                description: "專注閱讀，並做筆記"
                frequency_type: "daily"
                frequency_value: null
                created_at: "2025-08-19T10:00:00Z"
        "404":
          description: "找不到指定的習慣"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: 404
                message: "Habit not found"

    delete:
      tags:
        - "Habits"
      summary: "刪除一個習慣"
      description: "根據提供的 habitId，刪除一個習慣。此操作不可逆。"
      operationId: "deleteHabit"
      parameters:
        - name: "habitId"
          in: "path"
          required: true
          description: "要刪除的習慣 ID"
          schema:
            type: "integer"
            format: "int64"
      responses:
        "200":
          description: "習慣刪除成功"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              example:
                message: "Habit deleted successfully"
        "404":
          description: "找不到指定的習慣"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: 404
                message: "Habit not found"

components:
  schemas:
    Habit:
      type: "object"
      properties:
        habit_id:
          type: "integer"
          format: "int64"
          description: "習慣的唯一識別碼"
          readOnly: true
        name:
          type: "string"
          description: "習慣的名稱"
        description:
          type: "string"
          description: "習慣的詳細描述 (可選)"
          nullable: true
        frequency_type:
          type: "string"
          description: "頻率類型"
          enum: ["daily", "weekly"]
        frequency_value:
          type: "string"
          description: "頻率值。如果 frequency_type 是 'weekly'，這裡會儲存星期幾 (例如 '1,3,5' 代表週一、三、五)"
          nullable: true
        created_at:
          type: "string"
          format: "date-time"
          description: "習慣的建立時間"
          readOnly: true
    NewHabit:
      type: "object"
      required:
        - name
        - frequency_type
      properties:
        name:
          type: "string"
          description: "習慣的名稱"
        description:
          type: "string"
          description: "習慣的詳細描述 (可選)"
          nullable: true
        frequency_type:
          type: "string"
          description: "頻率類型"
          enum: ["daily", "weekly"]
        frequency_value:
          type: "string"
          description: "頻率值。如果 frequency_type 是 'weekly'，這裡會儲存星期幾 (例如 '1,3,5' 代表週一、三、五)"
          nullable: true
    Error:
      type: "object"
      properties:
        code:
          type: "integer"
          format: "int32"
          description: "錯誤代碼"
        message:
          type: "string"
          description: "錯誤訊息"

